<% content_for :title, "Reset Password" %>
<div class="container">
  <div class="columns background-light pt-10 pb-10">
    <div class="column hidden-xs col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
    <div class="column col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <div class="card card-form p-10">
        <h2 class="text-script">Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%#= devise_error_messages! %>

          <%= f.input :email, autofocus: true %>

          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
        <% end %>

      </div>
      <div class="pt-10">
        <div class="divider"></div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="column hidden-xs col-sm-1 col-md-2 col-lg-3 col-xl-3"></div>
  </div>
</div>
